{% extends "layout.html" %}
{% block content %}

<div class="container">
   <br>
   <center>
      <img src="../static/images/kriy8-resized.jpg" class="img-fluid" alt="Responsive image">
   </center>
   
   <br>
   <br>
   <center>
      <h5 class = "font-italic">Kriy8 Foundation is the brainchild of our youngest member-- <b>Kriya Shah</b> -- a high school student, who
        envisaged an organization that would appeal to the adolescents like her to make them better informed
        about health and lifestyle issues and help them to be an “alert and aware” generation of tomorrow.
        From this noble thought, new vistas emerged and led us to expand the scope of the organization to
        involve various patient groups. The Foundation aspires to work with like-minded individuals with the zeal and sincerity to do something
        different but purposeful to people around them, thereby "Helping People Help Themselves".</h5>
   </center>
</div>
<div class = "wrapper">
<div class="container">
   <br>
   <br>
   <br>
   <br>
  
   <div class="row align-items-center justify-content-center">
      <div class="col-md-8 text-dark text-large shadow-lg p-3 mb-5 bg-grey rounded">
         <center><h4> Objectives:</h4> </center>
         <br>
         <ul>
            <li style="font-size:larger">Disseminate information on adolescent health, hypertension, kidney diseases, and other lifestyle related illnesses</li>
            <li style="font-size:larger">Guide and engage the future generation about matters of health and disease through various digital platforms</li>
            <li style="font-size:larger">Assist deserving students to fulfill their aspirations in a structured manner</li>
            <li style="font-size:larger">Assist deserving patients of advanced kidney disease to pursue quality healthcare</li>
         </ul>

         
      </div>
      
   </div>
   <div class ="container-fluid">

   
      <br>
      <center><h6> Kriy8 Foundation is registered under the Public Trusts Act 1950: Registration E-35865. </h6> </center>
      <center><h6> Digital Associate: <a href="http://project-20.co" target="_blank">Project20 Media</a></h6></center>
      </div>
   
   
   <br>
   <br>
   <br>
   <br>
   
   
</div>
</div>
{% endblock %}