{% extends "layout.html" %}
{% block content %}
<div class="container">
  <br>

  
   
</div>
<br>


<div class="row align-items-center justify-content-center">
    <a href ="https://therenalproject.com" target="_blank" ><img src="../static/images/renalproject-resized.jpg" class="img-fluid" alt="Responsive image"></a>
</div>

<br>
<br>

<div class="row align-items-center justify-content-center">
    <a href ="http://project-20.co" target="_blank" ><img src="../static/images/p20logo-resized.png" class="img-fluid" alt="Responsive image"></a>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    
{% endblock %}