{% extends "layout.html" %}
{% block content %}
<div class="container">
   <br>
   <center>
      <h2>Contact Us </h2>
   </center>
</div>

<br>
<br>
<br>

<div class="container col-md-4 col-xs-12 text-dark text-large shadow-lg p-10 mb-5 rounded">
   <br>
  
   <center><img src="../static/images/kriy8100x100-removebg-preview.png" class="img-fluid" alt="Responsive image"></center>
   <br>
</div>
   
   <div class="row align-items-center justify-content-center">
      <div class="col-md-5 text-dark font-size-large" style="font-size:large">
         <p> Contact us to become a Foundation member, to make a donation, or for any queries:</p>
         
         <p style = "font-weight:bold"> Phone: </p> <p>+91 9833919767</p>
         <p style = "font-weight:bold"> Email: </p> <p>kriy8foundation@outlook.com</p>
         <p style = "font-weight:bold"> Address: </p> <p>C -1202, Lloyds Estate, Vidyalankar College Road, Antop Hill, Mumbai-400037, Maharashtra, India</p>
         
         <p style = "font-weight:bold"> Facebook/Instagram: </p> <p>@kriy8foundation</p>
         
         <br>
        
       
         
      </div>   
   </div>
   <br>
   <br>
   <br>






<!--
<div class="container col-md-3 col-xs-12 text-dark text-large shadow-lg p-9 mb-5 bg-grey rounded">
   <br>
   <center>
      <h4 class = "font-italic">Project 2 Coming Soon </h4> 
   </center>
</div>
-->
<div class="container">
   <br>
   <div class="row align-items-center justify-content-center">
      <div class="col-md-3">
         <!--<h4> Coming soon. </h4>-->
         <!-- Source Code <a href="https://github.com/SJSU272Spring2019/Project-Group-12"> here </a> -->
      </div>
   </div>
</div>



{% endblock %}