{% extends "layout.html" %}
{% block content %}
<div class="container">
   <br>
   <center>
      <h2>Make a Donation </h2>
   </center>
</div>

<br>
<br>
<br>

<div class="container col-md-4 col-xs-12 text-dark text-large shadow-lg p-10 mb-5 rounded">
   <br>
   
   <center><img src="../static/images/kriy8100x100-removebg-preview.png" class="img-fluid" alt="Responsive image"></center>
   <br>
</div>
   
   <div class="row align-items-center justify-content-center">
      <div class="col-md-3 text-dark font-size-large">
         <p> Fill out the below form with your details, and we will reach out to you for the next steps on making the donation:</p>
         
            
      </div>   
   </div>


<center>
   <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSedel9XhEKdVbEKhV3U8huuKEIB56tiBQEXhtflQAcDMxHxAQ/viewform?embedded=true" width="330" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</center>









<!--
<div class="container col-md-3 col-xs-12 text-dark text-large shadow-lg p-9 mb-5 bg-grey rounded">
   <br>
   <center>
      <h4 class = "font-italic">Project 2 Coming Soon </h4> 
   </center>
</div>
-->
<div class="container">
   <br>
   <div class="row align-items-center justify-content-center">
      <div class="col-md-3">
         <!--<h4> Coming soon. </h4>-->
         <!-- Source Code <a href="https://github.com/SJSU272Spring2019/Project-Group-12"> here </a> -->
      </div>
   </div>
</div>



{% endblock %}