{% extends "layout.html" %}
{% block content %}

<div class="container">
   <br>
   <center>
      <img src="../static/images/kriy8-resized.jpg" class="img-fluid" alt="Responsive image">
   </center>
   
   <br>
   <center>
      <h5 class = "font-italic"> Kriy8 Foundation- a non profit organization based in Mumbai- shall aim and strive to bring a meaningful difference in people’s lives through education, interaction, and guidance in matters of health and disease.</h5>
   </center>
   <br>

   <center><a href="{{url_for('resources')}}"  target="_blank" class="btn btn-dark" style="background-color: indianred;">Maintaining Health</a> 
    <br><br><a href="{{url_for('resources')}}"  target="_blank" class="btn btn-dark" style="background-color: indianred;">Managing Disease</a> </center>
   
</div>

<div class="container-fluid" >
   <br>
   <br>
   <br>
   <br>
  
   <div class = "container-fluid ">
   <div class="row align-items-center justify-content-center">
      <div class="col-md-10 text-dark text-large shadow-lg p-3 mb-5 bg-grey rounded">
         <center><h3> "Helping People Help Themselves"</h3> </center>
         
         <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="../static/images/helpingpeople1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../static/images/helpingpeople9.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../static/images/helpingpeople2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
               <img src="../static/images/helpingpeople3.jpg" class="d-block w-100" alt="...">
             </div>
             <div class="carousel-item">
               <img src="../static/images/helpingpeople4.jpg" class="d-block w-100" alt="...">
             </div>
             <div class="carousel-item">
               <img src="../static/images/helpingpeople5.jpg" class="d-block w-100" alt="...">
             </div>
             <div class="carousel-item">
               <img src="../static/images/helpingpeople6.jpg" class="d-block w-100" alt="...">
             </div>
             <div class="carousel-item">
               <img src="../static/images/helpingpeople7.jpg" class="d-block w-100" alt="...">
             </div>
             <div class="carousel-item">
               <img src="../static/images/helpingpeople8.jpg" class="d-block w-100" alt="...">
             </div>
            </div>
          </div>

         
         <br>
         <br>
         
         
        
         
         
      </div>
      
   </div>
  </div>
   


  
  <div class ="container-fluid">

   
   <br>
   <center><h6> Kriy8 Foundation is registered under the Public Trusts Act 1950: Registration E-35865. </h6> </center>
   <center><h6> Digital Associate: <a href="http://project-20.co" target="_blank">Project20 Media</a></h6></center>
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>
   
   
</div>

{% endblock %}