{% extends "layout.html" %}
{% block content %}
<div class="container">
  <br>

  <center>
     <h2>Podcast</h2>
  </center>
   
</div>
<br>
<div class="row align-items-center justify-content-center" style="font-size: large;">
  <div class="col-md-6 text-dark font-size-large">
     <p> Tune in to our audio show to learn about healthy lifestyle and healthcare-related topics from esteemed doctors, researchers, and members of Kriy8 Foundation.</p>
    <br>
    <br>
     <p> <b>Episode with Dr. Gautam Das, Co-Founder and Managing Partner of miBiome Therapeutics </b></p>
     <p> Listen on <a href="https://anchor.fm/drto-s/episodes/Discussing-Innovations-in-Genomics-with-Dr--Gautam-Das-e16a1ta" target="_blank">Anchor. </a> </p>
     <p> Listen on <a href="https://open.spotify.com/show/6xWS8MIi0L4nsN09qTmPCG" target="_blank">Spotify. </a> </p>
     <p> Coming soon to Apple Podcasts.</p>

     
     
     
     
    
   
     
  </div>   
</div>
<div class="row align-items-center justify-content-center">
 

</div>
<div class="row align-items-center justify-content-center">
    <img src="../static/images/kriy8show-resized2.png" class="img-fluid" alt="Responsive image">
    </div>

<br>
<br>
    
    
{% endblock %}