{% extends "layout.html" %}
{% block content %}
<br>
<br>
<br>

<div class="container col-md-3 col-xs-12 text-dark text-large shadow-lg p-9 mb-5 rounded">
   <br>
   <!---
   <center>
       <a href="{{ url_for('project_1')}}"> <h2>Hack the Industry </h2> </a> 
   </center>
   -->
   <center><img src="../static/images/hti360x360.png" class="img-fluid" alt="Responsive image"></center>
   <br>
</div>
   
   <div class="row align-items-center justify-content-center">
      <div class="col-md-3 text-dark font-size-large">
         <p> Software is still eating the world. </p>
         <p> Tune in to each episode to learn from the experts
            about where software is taking industries.
         </p>
         <p> Listen on <a style="font-weight:bold" href = "https://podcasts.apple.com/us/podcast/hack-the-industry/id1535858940" target="_blank">  Apple Podcasts. </a> </p>
         <p> Listen on <a style="font-weight:bold"  href = "https://sptfy.com/4Kts" target = "_blank">Spotify.</a> </p>
         <p> Listen on <a style="font-weight:bold"  href = "https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy9lZGJiNTM4L3BvZGNhc3QvcnNz" target="_blank"> Google Podcasts. </a> </p>
         
         <p>
            Subscribe to the newsletter to get exclusives:
            <ul>
               <li>Exclusive 1</li>
               <li>Exclusive 2</li>
               <li>Exclusive 3</li>
            </ul>
         </p>
      </div>
   </div>


<div class="row align-items-center justify-content-center">
   <iframe src="https://hacktheindustry.substack.com/embed" width="480" height="320"  frameborder="0" scrolling="no"></iframe>
</div>



<!--
<div class="container col-md-3 col-xs-12 text-dark text-large shadow-lg p-9 mb-5 bg-grey rounded">
   <br>
   <center>
      <h4 class = "font-italic">Project 2 Coming Soon </h4> 
   </center>
</div>
-->
<div class="container">
   <br>
   <div class="row align-items-center justify-content-center">
      <div class="col-md-3">
         <!--<h4> Coming soon. </h4>-->
         <!-- Source Code <a href="https://github.com/SJSU272Spring2019/Project-Group-12"> here </a> -->
      </div>
   </div>
</div>


{% endblock %}