{% extends "layout.html" %}
{% block content %}
<div class="container">
   <br>
 
   <center>
      <h2>Resources </h2>
   </center>
    
</div>



   <!--
   <div class="row align-items-center justify-content-center">
      <div class="col-md-3 text-dark font-size-large">
         <p> Contact us for any queries or to get involved.</p>
         
         <p style = "font-weight:bold"> Phone: </p> <p>+91 9833919767</p>
         <p style = "font-weight:bold"> Email: </p> <p>kriy8foundation@outlook.com</p>
         <br>
        
         <p style = "font-weight:bold">
            Subscribe to our newsletter to get exclusive updates:
            <ul>
               <li>Exclusive 1</li>
               <li>Exclusive 2</li>
               <li>Exclusive 3</li>
            </ul>
         </p>
         <i class="icon-facebook"></i>
      </div>   
   </div>
    -->


   <div class="container col-md-4 col-xs-12 text-dark text-large shadow-lg p-10 mb-5 rounded">
      <br>
      
      <center>
         <img src="../static/images/TIPS FOR HEALTHY FUTURE.jpg" class="img-fluid" alt="Responsive image">
      </center>
      <center>Click <a href="{{url_for('healthyfuture')}}" target="_blank">here </a> to see enlarged image.</center>
      <br>
   </div>

   <br>
   <br>


   <div class="container col-md-4 col-xs-12 text-dark text-large shadow-lg p-10 mb-5 rounded">
      <br>
      
      <center>
         
         <img src="../static/images/ANTIBIOTIC.jpg" class="img-fluid" alt="Responsive image">
         
      </center>
      <center>Click <a href="{{url_for('antibiotics')}}" target="_blank">here </a> to see enlarged image.</center>
      <br>
   </div>

   <br>
   <br>

   <div class="container col-md-4 col-xs-12 text-dark text-large shadow-lg p-10 mb-5 rounded">
      <br>
      
      <center>
       
         <img src="../static/images/ORGAN DONATION.jpg" class="img-fluid" alt="Responsive image">
         
      </center>
      <center>Click <a href="{{url_for('organdonation')}}" target="_blank">here </a> to see enlarged image.</center>
      <br>
   </div>


   <br>
   <br>

   <div class="container col-md-4 col-xs-12 text-dark text-large shadow-lg p-10 mb-5 rounded">
      <br>
      
      <center><img src="../static/images/kidneydisease.png" class="img-fluid" alt="Responsive image"></center>
      <center>Click <a href="https://drive.google.com/file/d/1ZWHrL89CvjQFHi4KtHpU6kDFQuN79mHU/view?usp=sharing" target="_blank">here </a> to see full presentation.</center>
      <br>
   </div>
   <br>
   <br>
   <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CmOReGkxfGM?start=461" allowfullscreen></iframe>
    </div>

   <br>
   <br>
   <br>

  

    
<!--
<div class="row align-items-center justify-content-center">
   <iframe src="https://hacktheindustry.substack.com/embed" width="480" height="320"  frameborder="0" scrolling="no"></iframe>
</div>
-->



<!--
<div class="container col-md-3 col-xs-12 text-dark text-large shadow-lg p-9 mb-5 bg-grey rounded">
   <br>
   <center>
      <h4 class = "font-italic">Project 2 Coming Soon </h4> 
   </center>
</div>
-->
<div class="container">
   <br>
   <div class="row align-items-center justify-content-center">
      <div class="col-md-3">
         <!--<h4> Coming soon. </h4>-->
         <!-- Source Code <a href="https://github.com/SJSU272Spring2019/Project-Group-12"> here </a> -->
      </div>
   </div>
</div>





{% endblock %}